#issues

:javascript
  $(document).on('turbolinks:load', function() {
    $.getJSON( document.location.href, function( data ) {
      formatter = new JSONFormatter(data.issues);
      formatter.openAtDepth(2);
      $('#issues').html(formatter.render());
    });
  });

%hr

%code= link_to :as_json, inline_issues_path(to: issues_params[:to])
