- cache ['nfts-index', TransactionSymbol.where(symbol: @nfts.map(&:symbol)).count, nfts_params] do
  .row
    .col-sm-12  
      %table.table.table-striped.table-borderless
        %thead
          %tr
            %th Name
            %th Symbol
            %th Issuer
            %th Max Supply
            %th Authorized Issuing Accounts
            %th Created
            %th Activity
        %tbody
          = render partial: 'nft_row', collection: @nfts, as: :nft
      
      %p
        = pagy_bootstrap_nav_js(@pagy).html_safe
