@import 'arduino-light';
@import 'bootstrap';

body, .card-header, .card-footer {
  background-color: AliceBlue;
}

.card-body {
  background-color: WhiteSmoke;
}

.nav-link.active {
  background-color: WhiteSmoke!important;
  border-bottom: 1px solid WhiteSmoke!important;
}

.inset-shadow {
  box-shadow: inset 0 .025rem .05rem rgba(0,0,0,.15)!important;
}

.op {
  color: #888;
  padding: 4px;
  margin-bottom: 5px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-weight: 300;
  font-size: 17px;
  z-index: 10;
  position: relative;
  height: 100%;
  overflow: hidden;
  line-height: 1.429;
}

.op .tag {
  font-size: 11px;
  float: right;
  margin: -1px 0 0 8px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #BBB;
}

.op .foot {
  font-size: 70%;
  vertical-align: middle;
  color: #AAA;
  line-height: 1.2;
  display: inline-block;
}

.op-mini {
  line-height: 1.1;
  background: #FDFDFD;
}

.op-mini .action {
  font-size: 82.4%;
  display: inline;
}

.op-mini .foot:before {
  content: "\00b7";
  margin: 0 5px 0 2px;
}

.symbol {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

version {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* Diffy::CSS See: https://github.com/samg/diffy#html-output */
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
